/* Events View Styling */
#events-view {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    color: #37474F;
}

.toggle-button {
    padding: 10px 20px;
    background-color: #37474F;
    color: #E0E4E7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.toggle-button:hover {
    background-color: #2C3B42;
}

#events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.eventContainer {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s;
}

.eventContainer:hover {
    transform: scale(1.02);
}

.eventHeader {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 8px;
}

.eventContainer h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #37474F;
}

.eventImage img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.eventDetails {
    text-align: left;
    font-family: Arial, sans-serif;
    color: #444;
}

.eventDetails p {
    margin: 5px 0;
}

.eventDetails strong {
    font-weight: bold;
}
.additionalInfo{
    text-align: left;
    font-family: Arial, sans-serif;
}

.hidden {
    display: none !important;
}

/* RSVP Button Styling */
.rsvp-button {
    padding: 10px 15px;
    background-color: #881C1C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.rsvp-button:hover {
    background-color: #37474F;
}
