#events{
    display: flex; /*grid format */
    flex-flow: row;
    align-items: flex-start; /* aligns event event vertically*/
    justify-content: flex-start; /* aligns events horizontally*/
    gap: 10px;
}

.eventContainer{
    border: 1px solid black;
    border-radius: 10px;;
    display: flex; /*grid format */
    flex-flow: column;
    align-items: flex-start; /* aligns event event vertically*/
    justify-content: flex-start; /* aligns events horinzontallu*/
}

.eventDetails{
    text-align: left;
    font-family: Arial, sans-serif;

}
.eventDetails strong {
    font-weight: bold;
}
.eventContainer img {
    width: 300px;  
    height: 200px; 
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border-radius: 8px; /* Optional: adds rounded corners */
}