
section .header {
    padding: 10px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

.profile-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.profile-info img {
    width: 120px;
    height: 120px;
    border: 2px solid #333;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 15px;
}

.profile-info h2 {
    font: 22px;
    margin-bottom: 5px;
}

.profile-info .follows {
    display: flex;
    gap: 20px;
    font-size: 14px;
    margin-bottom: 10px;
}

.profile-info .follows span{
    font-weight: bold;
}

.profile-info #userbio {
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
    padding: 0 20px;
}

.profile-info button {
    color: white;
    background-color: #37474F;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.profile-info button:hover {
    background-color: #2a373d;
}
.options {
    display: flex;
    align-items: center;
    width: 100%;
}
.options .Post, .options .RSVP {
    background-color: #E0E4E7;
    border: #E0E4E7;
    flex :1;
    color: 37474F;
    padding: 12px;
    text-align: center;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.options .Post:hover, .options .RSVP:hover {
    background-color: #c9cccf;
    border: 1px solid black;
}

/* The Modal (background) */
.modal-overlay {
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    overflow: auto; /* Enable scroll if needed */
    justify-content: center;
    align-items: center;
  }
  
  /* Modal Box */
  .modal {
    background-color: #fefefe;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
    position: relative; 
  }
  
  /* The Close Button */
  .close-btn {
    position: absolute; 
    color: white;
    background-color: #37474F;
    border-radius: 5px;
    width: 25px;
    top: 10px;
    right: 15px;
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .profilepic{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 7px;
  }

  .modal label {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .modal form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .modal form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    resize: none;
  }

  .edit-picture {
    background-color: #37474F;
    color: white;
    padding: 6px 14px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 7px;
    cursor: pointer;
  }

  .edit-picture:hover, .done-btn:hover {
    background-color: #2a373d;
  }

  .done-btn {
    background-color: #37474F;
    color: white;
    padding: 6px 15px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }